{% if stations %}
    <div class="mt-2">
    {% for station in stations %}
        {% include "radio/row.html.twig" %}
    {% endfor %}
    </div>
{% else %}
    <div class="mt-2 load-msg"><em>There are no radio stations yet</em></div>
{% endif %}
