/**
 * Structure
 */
html,body {
  height: 100%;
}
#content {
  width: 100%;
}
#admin {
  color: #222;
  height: 100%;
  width: 100%;
}
#view {
  height: 100%;
  width: calc(100% - 230px);
}

/**
 * Utilities
 */
.shad {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.btn {
  border: 0;
  font-weight: 700;
}
.btn-primary {
 background-color: #324554;
}
.btn-primary:hover {
  background-color: #2b3b4b;
}
.form-control:focus, #pagination .page-link {
  border-color: none;
  box-shadow: none;
}

/**
 * Sidebar
 */
nav#nav-sidebar {
  background-color: #324554;
  min-width: 230px;
  max-width: 230px;
}
nav#nav-sidebar.hide {
  min-width: 67px;
  max-width: 67px;
}
nav#nav-sidebar .nav-link.active {
  margin-left: -5px;
  background-color: #2b3b4b;
  color: #acbfcc;
  font-weight: 800;
  border-left: 5px solid #acbfcc;
}
nav#nav-sidebar.hide .nav-link {
  padding: 8px;
  margin-bottom: 6px;
}
nav#nav-sidebar .category {
  font-size: 1.2rem;
  padding-left: 5px;
  margin-top: 20px;
  font-weight: 900;
  color: #adc0ce;
}
nav#nav-sidebar.hide .desc,
nav#nav-sidebar.hide .category
{
  display: none;
}
nav#nav-sidebar header {
  height: 44px;
  background-color: #2b3b4b;
}
nav#nav-sidebar header h4 {
  font-weight: 800;
}

/**
* Filters
*/
#filter-links .filter-link {
  text-decoration: none;
  opacity: 0.5;
}
#filter-links .filter-link.active {
  font-weight: 800;
  opacity: 1;
  background-color: #314555;
}
#filter-search {
  padding-left: 30px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

/**
 * Nav top
 */
#nav-top {
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#nav-top .avatar {
  height: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/**
 * Module
 */
#module {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#module-title {
  font-weight: 800;
  color: #324554;
}

/**
 * Table
 */
#table {
}

#table .table td {
  white-space: nowrap;
}

#table #row-actions {
  padding: 0 5px;
}
#table #row-actions i {
  font-size: 1.2rem;
}

#pagination .page-link {
  color: #324554;
}
#pagination .page-item.active .page-link {
  border-color: #324554;
  background-color: #324554 !important;
  color: #fff;
}

/**
 * Forms
 */
.form-label {
  font-weight: 800; 
  color: #333;
}

/**
* Dashboard
*/
#dashboard .top-alert {
  height: 150px;
  margin: 10px;
  position: relative;
  width: 25%;
}
#dashboard .top-alert .count {
  position: absolute;
  bottom: 80px;
  font-size: 3rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
#dashboard .top-alert p {
  position: absolute;
  bottom: 20px;
  font-weight: 900;
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
}
#dashboard #users {
  color: #fff;
  background-color: #ff5f3d;
  border-left: 8px solid #fc9f9f;
}
#dashboard #requests {
  color: #fff;
  background-color: #5967ff;
  border-left: 8px solid #96adff;
}
#dashboard #requests-today {
  color: #fff;
  background-color: #ff9100;
  border-left: 8px solid #ffd399;
}
#dashboard #modules {
  color: #fff;
  background-color: #f56eff;
  border-left: 8px solid #f599ff;
}
#dashboard #sales {
  color: #fff;
  background-color: #3a9e46;
  border-left: 8px solid #b1ff9c;
}
#dashboard .top-alert .icon {
  left: 15px;
  font-size: 4rem;
  position: absolute;
  opacity: 0.2;
}
/** sm */
@media (max-width: 575.98px) {
}

/** md */
@media (max-width: 767.98px) {
  #dashboard .top-alert {
    width: 100% !important;
  }
}

/** lg */
@media (max-width: 991.98px) {
}

/** xl */
@media (max-width: 1199.98px) {
}
