@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/** App */
#app {
    color: #333;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 400px;
}
#view {
    overflow: hidden;
}

/** Tracks */
.track-row:not(:last-child) {
    margin-bottom: 6px;
}

.track-row:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.05);
}

.track-row .cover img {
    border: 1px solid #bbb;
    width: 38px;
    height: 38px;
    border-radius: 6px;
}

.track-row.active .title {
    font-weight: 800;
}

.track-row .artist {
    font-size: 0.8rem;
}

.track-row .like {
    font-size: 1.5rem;
}

.track-row .liked {
    color: #222;
    opacity: 0.3;
}

.track-row .liked.active {
    color: #e52d27;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FF00BF, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to left, #FF00BF, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1;
}

/**
 * Actions
 */
#actions .btn-primary {
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#actions .btn:not(:last-child) {
    margin-right: 5px;
}

/** Player */
#player {
    border-top: 1px solid #eee;
}

#player #cover {
    padding: 10px;
}

#player #cover img {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

#player #info {
    width: 100%;
    max-width: 160px;
}

#player #controls {
    overflow: hidden;
    margin: 0 10px;
}

#player #controls #track-progress {
    border: 1px solid #bbb;
    max-width: 500px;
    width: 100%;
    height: 8px;
}

#player #controls .track-progress {
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF00BF, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF00BF, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#player #controls .track-progress.disable {
    opacity: 0.5;
}

#player #controls .buffer {
    opacity: 0.5;
    background-color: #bbb;
}

#player #controls button {
    font-size: 1.6rem;
    padding: 0.7rem;
    opacity: 0.6;
    border: 0;
}

#player #controls button:hover {
    opacity: 1;
}

#player #controls #shuffle.active {
    opacity: 1;
}

#player #controls #shuffle.active i {
    color: #33CD32;
}

#player #volume {
    width: 400px;
}

#player #volume #volume-progress {
    border: 1px solid #bbb;
    height: 8px;
}

#player #volume #volume-progress .progress-bar {
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#player .loader {
    display: none;
    transform: scale(0.8);
}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    left: -5px;
    top: -10px;
    width: 60px;
    height: 60px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: #aaa;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/** Now playing (playlist) */
#top-play {
    font-size: 2.0rem;
    font-weight: bold;
}


/** Playlists */
.header {
    padding: 10px;
    height: 150px;
}

.header h2 {
    font-size: 2rem !important;
}

/**
 * Utility
 */
.hidden {
    display: none;
}

*:focus {
    box-shadow: none !important;
    outline-style: none;
    border: 0;
}

.scroll-cont {
    height: 100%;
    overflow: auto;
}

/** Buttons */
.btn {
    border: none;
    opacity: 0.8;
}
.btn:hover {
    opacity: 1;
}
.btn-primary {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-danger {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** Colours */
.bg-twitch {
    color: #fff;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-visions {
    color: #fff;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-moon {
    color: #fff;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-sin {
    color: #fff;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-lush {
    color: #fff;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-orange {
    color: #fff;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/** Nav */
#navbar {
    border-bottom: 1px solid #eee;
}

#navbar #menu #top-search {
    width: 60%;
}

#navbar #menu .nav-item {
    white-space: nowrap;
}

/** Larger devices */
@media (min-width: 576px) {
    .header {
        height: 180px;
    }
    .header h2 {
        font-size: 3rem !important;
    }
    #top-play {
        font-size: 2.5rem;
    }
}
