<nav id="nav-sidebar" class="text-light {% if hide %}hide{% endif %}" hx-get="/admin/sidebar" hx-trigger="loadSidebar from:body" hx-swap="outerHTML">
  <header class="d-flex justify-content-center align-items-center p-2">
    <h4 class="m-0"><i class="bi bi-shield-check pe-1"></i> <span class="desc">Admin</span></h4>
  </header>

  <div id="sidebar-links" class="p-3" hx-boost="true" hx-trigger="click" hx-select="#module" hx-target="#module" hx-swap="outerHTML">
    <ul class="nav nav-pills flex-column mb-auto">
      {% for link in links %}
        {% if link['children'] %}
        <h4 class="category">{{ link.title }}</h4>
        {% for module in link['children'] %}
          {% include "admin/sidebar-links.html.twig" with {'module': module, 'depth': 0 } only %} 
        {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
<script>
var sidebarLinkActiveLoad = () => {
  const links = document.querySelectorAll('#sidebar-links .link');
  links.forEach((link) => {
    link.classList.remove('active');
    let path = window.location.href.split('?')[0]
    if (link.href === path) {
      link.classList.add("active");
    }
  });
}

var sidebarLinkActive = (e) => {
  const links = document.querySelectorAll('#sidebar-links .link');
  if (links.length) {
    links.forEach((link) => {
      link.classList.remove('active');
    });
    e.preventDefault();
    e.currentTarget.classList.add('active');
  }
}

sidebarLinkActiveLoad();
</script>
