<nav id="nav-sidebar" class="text-light {% if hide %}hide{% endif %}">
  <header class="d-flex justify-content-center align-items-center p-2">
    <h4 class="m-0"><i class="bi bi-shield-check pe-1"></i> <span class="desc">Admin</span></h4>
  </header>

  <div id="sidebar-filter" class="mt-3 p-2">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>

  <div id="sidebar-links" class="p-3" hx-boost="true" hx-trigger="click" hx-select="#module" hx-target="#module" hx-swap="outerHTML">
    <ul class="nav nav-pills flex-column mb-auto">
      {% for module in modules %}
      <a title="{{ module.title }}" href="{{ module.url }}" class="nav-link link link-light" hx-on::after-request="sidebarLinkActive(event)" {% if module.normal %}hx-boost="false"{% endif %}>
        <li>
            <i class="bi bi-{{ module.icon }}"></i> <span class="ps-2 desc">{{ module.title }}</span>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
</nav>
<script>
const sidebarLinkActiveLoad = () => {
  const links = document.querySelectorAll('#sidebar-links .link');
  links.forEach((link) => {
    link.classList.remove('active');
    let path = window.location.href.split('?')[0]
    if (link.href === path) {
      link.classList.add("active");
    }
  });
}

const sidebarLinkActive = (e) => {
  const links = document.querySelectorAll('#sidebar-links .link');
  if (links.length) {
    links.forEach((link) => {
      link.classList.remove('active');
    });
    e.preventDefault();
    e.currentTarget.classList.add('active');
  }
}

sidebarLinkActiveLoad();
</script>
