<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        {% for header in headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for value in row %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
