{% if tracks %}
    <div id="actions" class="sticky-top bg-white d-flex py-1">
        <button class="btn btn-sm btn-danger" type="submit" hx-get="/playlist/clear" hx-swap="none">Clear playlist</button>
    </div>
    <div class="mt-2">
        {% for track in tracks %}
            {% include "tracks/row.html.twig" %}
        {% endfor %}
    </div>
    <script>
    document.getElementById("top-play").style.display = "block";
    </script>
{% else %}
    <div id="actions" class="sticky-top bg-white d-flex py-1">
        {% if has_liked %}
            <button class="btn btn-sm btn-primary" type="submit" hx-get="/playlist/liked" hx-swap="none">Liked tracks</button>
        {% endif %}
        <button class="btn btn-sm btn-primary" type="submit" hx-get="/playlist/random" hx-swap="none">Random tracks</button>
    </div>
    <div class="mt-2"><em>Playlist is empty</em></div>
    <script>
    document.getElementById("top-play").style.display = "none";
    </script>
{% endif %}
