{% if tracks %}
    <div id="actions" class="sticky-top bg-white d-flex py-1">
        <button class="btn btn-sm btn-danger" type="submit" hx-get="/playlist/clear" hx-swap="none">Clear</button>
    </div>
    <div class="mt-2">
        {% for track in tracks %}
            {% include "tracks/row.html.twig" %}
        {% endfor %}
    </div>
{% else %}
    <div id="actions" class="sticky-top bg-white d-flex py-1">
        <button class="btn btn-sm btn-primary" type="submit" hx-get="/playlist/random" hx-swap="none">Random tracks</button>
    </div>
    <div class="mt-2"><em>Playlist is empty</em></div>
{% endif %}
<script>
    removeActiveTrack();
    setActiveTrack();
</script>
