<form method="GET" hx-get="/tracks/search" target="#tracks #search">
    <div class="input-group">
        <input id="term" class="form-control bg-light" type="input" placeholder="What do you want to listen to?" name="term" value="{{ term }}" />
        <button style="opacity: 1;" class="btn bg-light text-dark" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
