{% extends "layout/app.html.twig" %}

{% block view %}
    <section id="tracks" class="h-100">
        <h1>Tracks</h1>
        <div id="search" hx-get="/tracks/control" hx-trigger="load"></div>
        <div id="results"></div>
    </section>
{% endblock %}

