<span class="liked px-1 {% if liked %}active{% endif %} d-flex align-items-center" hx-get="/like/toggle/{{ hash }}" hx-swap="outerHTML" hx-trigger="click">
    <i class="like bi {% if liked %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
</span>
