{% include 'components/validation.html.twig' with {'validate': 'name'} %}
{% if playlists %}
    <div class="mt-2">
        {% for playlist in playlists %}
            {% include "playlists/row.html.twig" %}
        {% endfor %}
    </div>
{% else %}
    <div class="mt-2 load-msg"><em>There are no playlists yet</em></div>
{% endif %}

