{% extends "layout/base.html.twig" %}

{% block head_js %}
  <script src="/js/admin.js"></script>
{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <section id="admin" class="d-flex">
    <div id="nav-sidebar" class="hide" hx-get="/admin/sidebar" hx-trigger="load" hx-swap="outerHTML"></div>
    <section id="view" class="d-flex flex-column flex-grow-1">
      <nav id="nav-top" class="d-flex">
        <button id="sidebar-toggle" hx-get="/admin/sidebar/toggle" hx-target="#nav-sidebar" hx-select="#nav-sidebar" hx-swap="outerHTML" class="btn" hx-on::after-request="sidebarLinkActiveLoad()"><i class="bi bi-list"></i></button>
        <div class="d-flex align-items-center ms-auto p-2">
          <img class="avatar" src="{{ user.avatar }}" />
        </div>
      </nav>
      <section id="module" class="flex-grow-1 p-3">
        {% block module %}{% endblock %}
      </section>
    </section>

  </section>
{% endblock %}
