{% extends "layout/base.html.twig" %}

{% block head_js %}
  <script src="/js/admin.js"></script>
  <script src="/js/chart.js"></script>
{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <section id="admin" class="d-flex" hx-indicator=".hx-indicator">
    <nav id="nav-sidebar" class="text-light {% if sidebar.hide %}hide{% endif %}" hx-get="/admin/sidebar" hx-trigger="load" hx-swap="outerHTML">
      <header class="d-flex justify-content-center align-items-center p-2">
        <h4 class="m-0"><i class="bi bi-shield-check pe-1"></i> <span class="desc">Admin</span></h4>
      </header>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    </nav>
    <section id="view" class="d-flex flex-column flex-grow-1">
      <nav id="nav-top" class="d-flex align-items-center">
        <button id="sidebar-toggle" hx-get="/admin/sidebar/toggle" hx-target="#nav-sidebar" hx-select="#nav-sidebar" hx-swap="outerHTML" class="btn" hx-on::after-request="sidebarLinkActiveLoad()"><i class="bi bi-list"></i></button>
        <div class="hx-indicator p-2">
          <div class="spinner"></div>
        </div>
        <div class="d-flex align-items-center ms-auto">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="avatar" src="{{ user.avatar }}" />
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/sign-out">
                  <span class="bi bi-door-closed"></span> <span class="ps-2">Sign Out</span>
                </a>
              </li>
            </ul>
          </div> 
        </div>
      </nav>
      <section id="module" class="flex-grow-1 p-3">
        {% block module %}{% endblock %}
      </section>
    </section>

  </section>
{% endblock %}
