{% extends "layout/base.html.twig" %}

{% block content %}
    <section id="app" class="d-flex flex-column h-100">
        <section id="navbar" hx-get="/navbar" hx-trigger="load, navbar from:body"></section>
        <section id="view" class="flex-grow-1">{% block view %}{% endblock %}</section>
        <section id="player" hx-get="/player" hx-trigger="load, player from:body"></section>
    </section>
{% endblock %}
