{% extends "layout/base.html.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
    <section id="app" class="d-flex flex-column h-100">
        <section id="navbar" hx-get="/navbar" hx-trigger="load, navbar from:body"></section>
        <section id="view" class="flex-grow-1">{% block view %}{% endblock %}</section>
        <section id="player" hx-get="/player" hx-trigger="load, player from:body"></section>
    </section>
{% endblock %}
